.Bem-vindos {
    padding: 30px 10px;
    background-color: white;
    margin-top: 12rem;
    font-family: 'Dancing Script', cursive;
    color: #5d4037;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 10px 40px rgba(93, 64, 55, 0.15); 
}

h1{
    font-size: 3.5rem;
    font-weight: bold;
}
p{
    font-size: 1.5rem;
}